body{
  color: white;
  background-color: rgb(4, 1, 28);
}

main {
    min-height: calc(100vh - 160px);
  }

  .description{
    height: 250px;
  } 

  .list-group-item{
    max-height: 650px;
    margin: 10px;
  }

  .img-thumbnail{
    max-height: 200px;
  }

  footer{
    color: black;
    background-color: white;
  }

input::placeholder{
  text-align: center;
}